@font-face {
    font-family: kashiffont;
    src: url(../css/Poppins-Regular.ttf);
  }
  
*{
    font-family:kashiffont;
}
.navbar{
    background-color:  #ffe9a0;
    border-bottom: 2px solid white;
}
.nav-item a{
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.nav-item a:hover{
    background-color:  #ffd54d;
    border-radius: 10px;
    color: white;
}

/* user feedback  */
.del{
    background-color:#ffc7c741 ;
}
.del span{
    font-weight: 800;
    font-size: 20px;
}
@media screen and (min-width:320px) and (max-width:500px) {
    .top-text h3{
        font-size: 1.2rem;
    }
    .top-text p{
        font-size: 14px;
    }
    .information{
        display: block;
        font-size: 12px;
    }
    .information h4 {
        font-size: 12px;
    }
    .information i {
        font-size: 12px;
    }
    .forms{
        /* margin-right: 10px; */
        /* display: flex; */
    }
    /* form  */
    .form-area{
        justify-content: center;
        margin-bottom: 0;
    }
    .form-area input{
        width: 10px;
        padding: 5px;
        font-size: 13px;

    }
    .form-area label{
        font-size: 0.8rem;
        /* margin-left: -10px; */
    }
    .form-area ::placeholder{
        font-size: 12px;
        margin-left: 50%;
    } 
    .sp{
        margin-bottom: 0.5rem;
        /* background-color: red; */
    }
    .form-area button{
        /* width: 90%; */
    
    }
    .location{
        display: none;
    }
    .col-sm-2{
        text-align: center;
    }
}
/* for tablet etc  */

@media screen and (min-width:501px) and (max-width:800px) {
    .top-text h3{
        font-size: 1.2rem;
    }
    .top-text p{
        font-size: 14px;
    }
    .information{
        display: none;
    }
    /* form  */
    .form-area{
        justify-content: center;
        /* margin-left: auto; */
        margin-bottom: 0;
    }
    /* form{
        justify-content: center;
    } */
    .form-area input{
        /* width: 10px; */
        padding: 5px;
        font-size: 13px;

    }
    .form-area label{
        font-size: 0.8rem;
        /* margin-left: -10px; */
    }
    .form-area ::placeholder{
        font-size: 12px;
        margin-left: 50%;
    } 
    .sp{
        margin-bottom: 0.5rem;
        /* background-color: red; */
    }
    .form-area button{
        width: 90%;
        /* max-width: 50%; */
        /* max-height: auto; */
    
    }
}